/********************\
  $Reset ☰
\********************/
* {
    box-sizing:border-box;
}
body {
    margin:0;
    padding:0;
    background-color:#A9BC00;
    overflow-y: scroll;
    overflow-x: hidden;
}
a {
    text-decoration:none;
}
/********************\
  $Layout ☰
\********************/

/*Damos estilos al menú*/
.nav {
    position:absolute;
    width:200px;
    height:100vh;
    top:0;
    left:-220px; /*Ocultamos el menú en la parte izquierda para que no se vea a menos que pulsemos sobre la hamburguesa*/
    padding-top:47px;
    background-color: rgba(29, 33, 32, 1);
    border-right:4px solid rgba(114, 126, 3, 1);
    transition:all .5s ease; /*Damos a la caja del menú una transición para que tenga un desplazamiento suave*/
}
/*Estilos de los li del menú*/
.nav__item {
    display:block;
    width:96%;
    margin:0 auto;
    line-height:2;
    position:relative; /*Le damos una posición relativa para posteriormente añadirle el triangulo que indica que se está en la página actual del menú*/
    border-bottom:.5px solid rgba(59, 62, 61, 1);
    border-top:.5px solid rgba(59, 62, 61, 1);
    background-color:transparent;
    font-family: 'Lato', sans-serif;
    text-align:center;
    color:rgba(221, 231, 228, 1);
}
/*Damos colocamos el triangulo negro a la pestaña del menú dónde nos encontramos actualmente*/
.current:before {
    content:"";
    width:0;
    height:0;
    position:absolute; /*Le damos al before una posición absoluta relativa al li que lo contiene*/
    border-top:17px solid transparent;
    border-left:15px solid #1D2120;
    border-bottom:17px solid transparent;
    top:0px;
    right:-15px; /*Lo posicionamos -15px a la derecha de su contenedor*/
    z-index:4; /*le otorgamos un z-index alto para que se posicione arriba de otros elementeos*/
}
/*Colocamos el borde verde al triangulo por medio de otro trangulo verde*/
.current:after {
    content:"";
    width:0;
    height:0;
    position:absolute;/*Le damos al after una posición absoluta relativa al li que lo contiene*/
    border-top:16.5px solid transparent;
    border-left:17px solid rgba(114, 126, 3, 1);
    border-bottom:17px solid transparent;
    top:.5px;
    right:-21px;
    z-index:1;  /*le otorgamos un z-index bajo para que se posicione debajo del trinagulo negro*/
}
/*Estos son los estilos de la hamburguesa del menú que abre y cierra el mismo*/
.menu-toogle {
    position:absolute; /*Lo posicionamos absolutamente para poder darle una posición y poder moverlo según el menú esté abierto o cerrado*/
    width: 35px;
    line-height:1.1;
    text-align:center;
    top:6.5px; /*Le damos una posición top y left en donde queramos que se encuentre la hamburguesa del menú*/
    left: 8px;
    border-radius:3px;
    background-color: #142b25;
    transition: all .5s ease; /*Añadimos una transición para que realice un desplazamineto suave*/
    z-index:10;
}
/*Añadimos la haburguesa y le damos unos estilos*/
.menu-toogle::before {
    content:"☰";
    font-size:32px;
    color:white;
}

/* Le damos unos estilos al contenedor principal*/
.main-w {
    width:100%;
    height:200px;
    transition: all .5s ease;
}
.header-w figure {
    width:100%;
    height:150px;
    text-align:center;
    position:relative;
}
.header-w figure:before {
    content:"O";
    width:15px;
    height:15px;
    position:absolute;
    background-color:white;
    border-radius:100%;
    color:#A9BC00;
    font-size:120%;
    font-wheight:bolder;
    font-family:verdana;
    left:42vw;
    top:9vw;
}
.header-w figure:after {
    content:"O";
    width:15px;
    height:15px;
    position:absolute;
    background-color:white;
    border-radius:100%;
    color:#A9BC00;
    font-size:120%;
    font-wheight:bolder;
    font-family:verdana;
    left:50.8vw;
    top:9vw;
}
.featured-img {
    margin:3em 6vw 0 0;
    border:4px solid white;
    border-radius:100%;
}
.header-w__description {
    width:80%;
    height:auto;
    margin:0 auto;
    padding:1em;
    line-height:2;
    text-align:center;
    color:rgba(33, 36, 8, 1);
}
.header-w__title
{
    font-size:300%;
    font-family:Lobster;
    margin:1em 0 0 0;
}
.header-w__title2 {
    font-size:250%;
    font-family:Lobster;
    margin:0;
}
.paragraph {
    width:80%;
    margin:0 auto;
    text-align:center;
    font-family:'Source Sans Pro', sans-serif;
}

/*Estos son los estilos que le dan la funcionalidad al menú*/
/*El checkbox según esté activado o no hará que el menú aparezca o desaparezca*/
.checkbox {
    display:none; /*Ocultamos el checkbox pues no nos interesa que se vea*/
}
.checkbox:checked ~ .nav {
    left:0px; /*Le quitamos el left negativo para que el menú vuelva a su posición original*/
    position:fixed; /* Fijamos el menú lateral para que se desplace cuando hagamos scroll*/
}
.checkbox:checked ~ .main-w {
    margin-left:200px; /*Cuando el checkbox asigna un margen al contenedor principal para que se desplace junto con el menú*/
}
.checkbox:checked ~ .menu-toogle {
    left:208px;
    position:fixed; /*Fijamos la hamburgues para que se desplace junto con el menú*/
}
